<footer class="bg-gray-800">
        <div class="container w-7xl mx-auto">
            <div class="mx-[10rem]">
                <div class="grid grid-cols-3 justify-between items-start text-white py-9 gap-x-20">
                    <div class="col-auto flex flex-col space-y-3">
                        <img src="https://wafilife-media.wafilife.com/uploads/2021/06/wafi-bangla-logo.png" width="48%"
                            alt="">
                        <p class="text-[#999]">Wafilife is a leading book shop in Bangladesh. We offer thousands of
                            islamic, general and
                            academic books at a discounted price. We provide good packaging with low shipping cost all
                            over the Bangladesh.</p>
                    </div>
                    <div class="col-span-2 grid grid-cols-3">
                        <div class="flex flex-col">
                            <h1 class="text-lg font-bold pb-3">প্রয়োজনীয় লিংক</h1>
                            <div class="flex flex-col space-y-2  text-[#999]">
                                <a href="#" class="hover:text-white">যোগাযোগ করুন</a>
                                <a href="#" class="hover:text-white">ব্লগ</a>
                                <a href="#" class="hover:text-white">শপিং ব্যাগ</a>
                                <a href="#" class="hover:text-white">আপনার পছন্দের তালিকা</a>
                                <a href="#" class="hover:text-white">প্রশ্নোত্তর</a>
                                <a href="#" class="hover:text-white">কিভাবে কেনাকাটা করবেন ?</a>
                                <a href="#" class="hover:text-white">শর্তাবলী</a>
                                <a href="#" class="hover:text-white">রিফান্ড নীতিমালা</a>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <h1 class="text-lg font-bold pb-3">জনপ্রিয়</h1>
                            <div class="flex flex-col space-y-2  text-[#999]">
                                <a href="#" class="hover:text-white">যোগাযোগ করুন</a>
                                <a href="#" class="hover:text-white">ব্লগ</a>
                                <a href="#" class="hover:text-white">শপিং ব্যাগ</a>
                                <a href="#" class="hover:text-white">আপনার পছন্দের তালিকা</a>
                                <a href="#" class="hover:text-white">প্রশ্নোত্তর</a>
                                <a href="#" class="hover:text-white">কিভাবে কেনাকাটা করবেন ?</a>
                                <a href="#" class="hover:text-white">শর্তাবলী</a>
                                <a href="#" class="hover:text-white">রিফান্ড নীতিমালা</a>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <h1 class="text-lg font-bold pb-3">যোগাযোগ</h1>
                            <div class="flex flex-col space-y-2  text-[#999]">
                                <a href="#" class="hover:text-white">যোগাযোগ করুন</a>
                                <a href="#" class="hover:text-white">ব্লগ</a>
                                <a href="#" class="hover:text-white">শপিং ব্যাগ</a>
                                <a href="#" class="hover:text-white">আপনার পছন্দের তালিকা</a>
                                <a href="#" class="hover:text-white">প্রশ্নোত্তর</a>
                                <a href="#" class="hover:text-white">কিভাবে কেনাকাটা করবেন ?</a>
                                <a href="#" class="hover:text-white">শর্তাবলী</a>
                                <a href="#" class="hover:text-white">রিফান্ড নীতিমালা</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>
